<template>
    <div class="customer-view">
        <div class="user-img">
        </div>
        <div class="user-info">
            <table class="table">
                <tr>
                    <th>ID</th>
                </tr>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <th>Email</th>
                </tr>
                <tr>
                    <th>Phone</th>
                </tr>
                <tr>
                    <th>Website</th>
                </tr>
            </table>
            <router-link to="/customers">Back to all customers</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
           
        }
    }
</script>