<template>
<div>
    <div class="row">
        <div class="col-md-6">
            <label class="red">Storage Name *</label>
            <input v-model="form.name" class="form-control itxt" :class="{ 'is-invalid': form.errors.has('phone') }" placeholder="Name" required="required" name="pname" type="text">
            <has-error :form="form" field="name"></has-error>
        </div>
        <div class="col-md-3 col-sm-12">                           
            <label class="red">Type</label>
            <select v-model="form.type" class="form-control">
                <option  v-for="storage in storages" v-bind:key="storage.id" :value="storage.id">{{storage.type}}</option>
            </select>
            <has-error :form="form" field="type"></has-error>
        </div>
        <div class="col-md-3 col-xs-6">                           
            <label class="red">Phone</label>
            <input class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }" v-model="form.phone" placeholder="0" autocomplete="off" name="pbarcode" type="text">
            <has-error :form="form" field="phone"></has-error>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12 col-xs-12">                           
            <label class="red">Address</label>
            <textarea class="form-control" :class="{ 'is-invalid': form.errors.has('address') }" v-model="form.address" placeholder="0" autocomplete="off" name="pbarcode"></textarea>
            <has-error :form="form" field="address"></has-error>
        </div>
    </div>
    <br/>
    
<form @submit.prevent="createStorage">
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
</div>
</template>

<script>
    export default {
        data(){
            return {
                storages: {},
                form: new Form({
                    name: '',
                    type: null,
                    phone: '',
                    address: '',
                })
            }
        },
        methods: {
            createStorage(){
                this.$Progress.start();
                this.form.post('/api/admin/storages').then(()=>{
                   swal({
                        title: 'Success!',
                        text: 'Item save!',
                        type: 'success',
                        timer: '1500'
                    });
                    this.form.reset();
                    this.form.type = 1;
                }).catch(()=>{

                });
                this.$Progress.finish();
            },
            zyStorage() {
                axios.get('/api/admin/zy/storage_types').then(response => { this.storages = response.data;});
            },
        },
        created() {
            this.form.type = 1;
            this.zyStorage();
        }
    }
</script>

