<template>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Storages</h3>

                <div class="card-tools">
                    <router-link to="/admin/storages/create">
                        <button class="btn btn-success">Add New <i class="fas fa-plus-circle fa-fw"></i></button>
                    </router-link>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th width="40%">Address</th>
                        <th>Phone</th>
                        <th>Created At</th>
                  </tr>

                    <tr v-if="loading == true" >
                        <td align="center red" colspan="12"><scale-loader></scale-loader></td>
                    </tr>

                    <tr v-else v-for="value in values.data" :key="value.id">
                    <td>{{value.id}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.type.type}}</td>
                    <td>{{value.address}}</td>
                    <td>{{value.phone1}}</td>
                    <td>{{value.created | dDate}}</td>

                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="values" :limit="3" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>




</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                values : {},
                inter: undefined,
            }
        },
        methods: {
            loadStorages(progress = false){
                if(progress == true) this.$Progress.start();
                axios.get("/api/admin/storages").then( response => {
                    this.loading = false;
                    this.values = response.data;
                    if(progress == true) this.$Progress.finish();
                });
            },
            getResults(page = 1) {
                this.$Progress.start();
                this.loading = true;
                axios.get('/api/admin/storages?page=' + page).then(response => {
                    this.loading = false;
                    this.values = response.data;
                    if(page != 1)  clearInterval(this.inter);
                    else{
                        clearInterval(this.inter);
                        this.inter = setInterval(()=> this.loadStorages(), 3000);
                    }
                    this.$Progress.finish();
                });
            },
        },
        mounted() {
            this.inter = setInterval(()=> this.loadStorages(), 3000);
            Fire.$on('searching',() => {
                let query = this.$parent.$parent.search;
                axios.get('/api/admin/storage/search?q=' + query)
                .then((data) => {
                    this.values = data.data;
                    if(query.length != '') clearInterval(this.inter);
                    else {
                        clearInterval(this.inter);
                        this.inter = setInterval(()=> this.loadStorages(), 3000);
                    }
                })
                .catch(() => {
                })
            });
        },
        beforeDestroy() {
            clearInterval(this.inter);
            Fire.$off ('searching');
        },
        created() {
            this.loadStorages(true);
        }
    }
</script>
