</style>
<template>
<form @submit.prevent="createCustomer">
    <div class="row">
        <div class="col-md-6">
            <label class="red">Customer Name *</label>
            <input v-model="form.name" class="form-control itxt" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Name" name="pname" type="text">
            <has-error :form="form" field="name"></has-error>
        </div>
        <div class="col-md-3 col-sm-12">                           
            <label>Gender</label>
            <select v-model="form.gender" class="form-control">
                <option  v-for="gender in genders" v-bind:key="gender.id" :value="gender.id">{{gender.gender}}</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-12">                           
            <label>Type</label>
            <select v-model="form.type" class="form-control">
                <option  v-for="type in types" v-bind:key="type.id" :value="type.id">{{type.type}}</option>
            </select>
            <has-error :form="form" field="type"></has-error>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3 col-xs-6">                           
            <label for="pbarcode">Phone</label>
            <input class="form-control" :class="{ 'is-invalid': form.errors.has('cus.phone') }" v-model="form.phone" placeholder="0" autocomplete="off" name="pbarcode" type="text">
            <has-error :form="form" field="Type"></has-error>
        </div>
        <div class="col-md-3 col-xs-6">
            <label>E-mail</label>
            <input class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" v-model="form.email" placeholder="yi@example.com" autocomplete="off">
            <has-error :form="form" field="email"></has-error>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <label>Address/Location</label>
            <textarea class="form-control" v-model="form.address"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
</template>

<script>
    export default {
        data(){
            return {
                storages: {},
                form: new Form({
                    name: '',
                    gender: '',
                    type: '',
                    phone: '',
                    email: '',
                    address: '',
                }),
                types: {},
                genders: {},
            }
        },
        methods: {
            createCustomer(){
                this.$Progress.start();
                this.form.post('/api/admin/customers').then(()=>{
                   swal({
                        title: 'Success!',
                        text: 'Customer save!',
                        type: 'success',
                        timer: '1500'
                    });
                    this.form.reset();
                    this.form.gender = 3;
                    this.form.type = 1;
                })
                .catch(()=>{

                });
                this.$Progress.finish();
            },
        },
        created() {
            this.form.type = 1;
            this.form.gender = 3;
            axios.get('/api/admin/zy/customers').then(response => { this.types = response.data});
            axios.get('/api/admin/zy/genders').then(response => { this.genders = response.data});
        }

    }
</script>

