<template>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Customers</h3>

                <div class="card-tools">
                    <router-link to="/admin/customers/create">
                        <button class="btn btn-success">Add New <i class="fas fa-plus-circle fa-fw"></i></button>
                    </router-link>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Type</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Created By</th>
                        <th>Created At</th>
                        <th>Action</th>
                  </tr>


                    <tr v-if="loading == true" >
                        <td align="center red" colspan="12"><scale-loader></scale-loader></td>
                    </tr>

                    <tr v-else v-for="value in values.data" :key="value.id">

                    <td>{{value.id}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.gender.gender}}</td>
                    <td>{{value.type.type}}</td>
                    <td>{{value.phone}}</td>
                    <td>{{value.email}}</td>
                    <td>{{value.creator.username}}</td>
                    <td>{{value.created_at | dDate}}</td>

                    <td>
                        <a v-if="value.id != 1 && value.id != 2" class="btn" @click="editModal(value.id)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="values" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

        <!-- <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div> -->

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          
    <form @submit.prevent="saveEdit()">
      <div class="modal-body">
        <div class="form-group">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right text-danger">Customer Name * : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('cus.name') }" name="cus.name" placeholder="Name" v-model="form.cus.name">
                    <has-error :form="form" field="cus.name"></has-error>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Gender : </label>
                <div class="col-sm-9">
                    <select v-model="form.cus.gender" class="form-control">
                        <option v-for="gender in genders"  v-bind:key="gender.id" :value="gender.id">{{gender.gender}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Type : </label>
                <div class="col-sm-9">
                    <select v-model="form.cus.type" class="form-control">
                        <option v-for="customer in customers"  v-bind:key="customer.id" :value="customer.id">{{customer.type}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Phone : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" :class="{ 'is-invalid': form.errors.has('cus.phone') }" name="name" placeholder="Name" v-model="form.cus.phone">
                    <has-error :form="form" field="cus.phone"></has-error>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Email : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="name" placeholder="Name" v-model="form.cus.email">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </form>
      
    </div>
  </div>
</div>
    </div>



</template>

 <script>
    export default {
        data() {
            return {
                loading: true,
                values: {},
                genders: {},
                customers: {},
                inter: undefined,
                form: new Form({
                    cus: {},
                })
            }
        },
        methods: {
            loadCustomers(progress = false){
                if(progress == true) this.$Progress.start();
                axios.get("/api/admin/customers").then( response => {
                    this.loading = false;
                    this.values = response.data;
                    if(progress == true) this.$Progress.finish();
                });
            },
            getResults(page = 1) {
                this.$Progress.start();
                this.loading = true;
                axios.get('/api/admin/customers?page=' + page).then(response => {
                    this.loading = false;
                    this.values = response.data;
                    if(page != 1)  clearInterval(this.inter);
                    else{
                        clearInterval(this.inter);
                        this.inter = setInterval(()=> this.loadCustomers(), 3000);
                    }
                    this.$Progress.finish();
                });
            },
            editModal(id){
                this.form.errors.errors = [];
                this.$Progress.start();
                $('#edit').modal('show');
                axios.get('/api/admin/customers/' + id).then(response => { this.form.cus = response.data});
                axios.get('/api/admin/zy/genders').then(response => { this.genders = response.data});
                axios.get('/api/admin/zy/customers').then(response => { this.customers = response.data});
                this.$Progress.finish();
            },
            saveEdit(){
                this.$Progress.start();
                this.form.put('/api/admin/customers/' + this.form.cus.id).then(response => {
                $('#edit').modal('hide');
                swal({
                        title: 'Success!',
                        text: 'Item save!',
                        type: 'success',
                        timer: '1500'
                    }); 
                    
                });
                this.$Progress.finish();
            }
        },
        mounted() {
            this.inter = setInterval(()=> this.loadCustomers(), 3000);
            Fire.$on('searching',() => {
                let query = this.$parent.$parent.search;
                axios.get('/api/admin/customer/search/?q=' + query) 
                .then((data) => {
                    this.values = data.data;
                    if(query.length != '') clearInterval(this.inter);
                    else {
                        clearInterval(this.inter);
                        this.inter = setInterval(()=> this.loadCustomers(), 3000);
                    }
                })
                .catch(() => {
                })
            });
        },
        beforeDestroy() {
            clearInterval(this.inter);
            Fire.$off ('searching');
        },
        created() {
            this.loadCustomers(true);
        }
    }
 </script>
