
<template>
<div>
    <div class="row">
        <div class="col-md-6">
            <label class="red">Product Name *</label>
            <input v-model="form.name" class="form-control itxt" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="Name" name="pname" type="text">
            <has-error :form="form" field="name"></has-error>
        </div>
        <div class="col-md-3 col-sm-12">                           
            <label>Catagory</label>
            <label class="float-right">
                <button class="btn btn-sm btn-primary" type="text" @click="checkCatagory()">+</button>
                <button class="btn btn-sm btn-danger" @click="uncheckCatagory()">x</button>
            </label>
            <select v-model="form.catagory" class="form-control" v-if="form.addCatagory == 0">
                <option v-for="catagory in catagories.data"  v-bind:key="catagory.id" :value="catagory.id">{{catagory.catagory}}</option>
            </select>
            <input v-model="form.catagory" v-if="form.addCatagory == 1" class="form-control itxt" :class="{ 'is-invalid': form.errors.has('catagory') }" placeholder="Catagory"  type="text">
            <has-error :form="form" field="catagory"></has-error>
        </div>
        <div class="col-md-3 col-sm-12">                           
            <label>Brand</label>
            <label class="float-right">
                <button class="btn btn-sm btn-primary" type="text" @click="checkBrand()">+</button>
                <button class="btn btn-sm btn-danger" @click="uncheckBrand()">x</button>
            </label>
             <select v-model="form.brand" class="form-control" v-if="form.addBrand == 0">
                <option v-for="brand in brands.data"  v-bind:key="brand.id" :value="brand.id">{{brand.brand}}</option>
            </select>
            <input v-model="form.brand" v-if="form.addBrand == 1" class="form-control itxt" :class="{ 'is-invalid': form.errors.has('brand') }" placeholder="Catagory"  type="text">
            <has-error :form="form" field="brand"></has-error>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3 col-xs-6">                           
            <label for="pbarcode">Barcode</label>
            <input class="form-control" :class="{ 'is-invalid': form.errors.has('barcode') }" v-model="form.barcode" placeholder="0" autocomplete="off" name="pbarcode" type="text">
            <has-error :form="form" field="barcode"></has-error>
        </div>
        <div class="col-md-3 col-xs-6">
            <label class="red">Price *</label>
            <input class="form-control" :class="{ 'is-invalid': form.errors.has('price') }" v-model="form.price" placeholder="$USD" required="required" autocomplete="off" name="psell" type="text">
            <has-error :form="form" field="price"></has-error>
        </div>
        <div class="col-md-3 col-xs-6">
             <label>Buyin</label>
             <input class="form-control" :class="{ 'is-invalid': form.errors.has('buyin') }"  v-model="form.buyin" placeholder="$USD" autocomplete="off" type="text">
             <has-error :form="form" field="buyin"></has-error>
        </div>
        <div class="col-md-3 col-xs-6">
             <label>Wholesale Discount</label>
             <input class="form-control" :class="{ 'is-invalid': form.errors.has('wholesalediscount') }"  v-model="form.wholesalediscount" placeholder="000.00" autocomplete="off" name="pwholesalediscount" type="text">
             <has-error :form="form" field="wholesalediscount"></has-error>
        </div>
    </div>
    <br/>
<form @submit.prevent="createProduct">
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
<div class="modal fade" id="inspect" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{form.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    export default {
        data(){
            return {
                storages: {},
                modal: false,
                catagories: {},
                brands: {},
                form: new Form({
                    name: '',
                    barcode: '',
                    price: '',
                    catagory: '',
                    brand: '',
                    wholesalediscount: '',
                    buyin: '',
                    addCatagory: 0,
                    addBrand: 0,
                })
            }
        },
        methods: {
            loadList(){
                axios.get('/api/admin/zy/catagories').then(response => { this.catagories = response});
                axios.get('/api/admin/zy/brands').then(response => { this.brands = response});
            },
            createProduct(){
                this.$Progress.start();
                this.form.post('/api/admin/products').then(()=>{
                   swal({
                        title: 'Success!',
                        text: 'Item save!',
                        type: 'success',
                        timer: '1500'
                    });
                    this.form.reset();
                    this.form.catagory = 1;
                    this.form.brand = 1;
                })
                .catch(()=>{

                });
                this.$Progress.finish();
            },
            checkCatagory(){
                this.form.catagory = null;
                this.form.addCatagory = 1;
            },
            uncheckCatagory(){
                this.form.catagory = 1;
                this.form.addCatagory = 0;
            },
            checkBrand(){
                this.form.brand = null;
                this.form.addBrand = 1;
            },
            uncheckBrand(){
                this.form.brand = 1;
                this.form.addBrand = 0;
            },
        },
        created() {
            this.form.catagory = 1;
            this.form.brand = 1;
            this.loadList();
        }

    }
</script>

