<style scoped>
    img {
        width: 100%;
        height: 66%;
    }
    .item{
        display: inline;
    }
</style>
<template>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Products</h3>

                <div class="card-tools">
                    <router-link to="/admin/products/create">
                        <button class="btn btn-success">Add New <i class="fas fa-plus-circle fa-fw"></i></button>
                    </router-link>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>Price</th>
                        <th class="red">Wholesale Discount</th>
                        <th>Created At</th>
                        <th class="text-center">Action</th>
                        <th>Active</th>
                  </tr>


                    <tr v-if="loading == true" >
                        <td align="center red" colspan="12"><scale-loader></scale-loader></td>
                    </tr>

                    <tr v-else v-for="value in values.data" :key="value.id">

                    <td>{{value.id}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.barcode}}</td>
                    <td>${{value.price}}</td>
                    <td class="red">{{value.wholesalediscount}}<span v-if="value.wholesalediscount != null">%</span></td> 
                    <td>{{value.created_at | sDate}}</td>

                    <td class="text-center">
                        <a @click="edit(value.id)" class="btn">
                            <i class="fa fa-edit green"></i>
                        </a>
                    </td>
                    <td>
                        <label class="switch">
                        <input type="checkbox" v-on:change="activate(value.id, value.active)" v-model="value.active">
                        <span class="slider round"></span>
                        </label>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination class="justify-content-center" :data="values" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          
    <form @submit.prevent="saveEdit()">
      <div class="modal-body">
        <div class="row">
        <div class="col-md-4">
            <img src="https://cdn-images-1.medium.com/max/1200/0*iBvb3FQRnC4Xdyv4.jpg">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <label>Product Name</label>
                    <input class="form-control"  :class="{ 'is-invalid': form.errors.has('prod.name') }" type="text" v-model="form.prod.name"/>
                    <has-error :form="form" field="prod.name"></has-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Catagory</label>
                    <select v-model="form.prod.catagory" class="form-control">
                        <option v-for="catagory in catagories.data"  v-bind:key="catagory.id" :value="catagory.id">{{catagory.catagory}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Brand</label>
                    <select v-model="form.prod.brand" class="form-control">
                        <option v-for="brand in brands.data"  v-bind:key="brand.id" :value="brand.id">{{brand.brand}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Barcode</label>
                    <input type="text" class="form-control" v-model="form.prod.barcode" :class="{ 'is-invalid': form.errors.has('prod.barcode') }"/>
                    <has-error :form="form" field="prod.barcode"></has-error>
                </div>
            </div>
            
        </div>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Sell Price</label>
                    <input type="text" class="form-control" v-model="form.prod.price" :class="{ 'is-invalid': form.errors.has('prod.price') }"/>
                    <has-error :form="form" field="prod.price"></has-error>
                </div>
                <div class="col-md-4">
                    <label>Wholesale Discount</label>
                    <input type="text" class="form-control" v-model="form.prod.wholesalediscount" :class="{ 'is-invalid': form.errors.has('prod.wholesalediscount') }"/>
                    <has-error :form="form" field="prod.wholesalediscount"></has-error>
                </div>
                <div class="col-md-4">
                    <label>Buyin</label>
                    <input type="text" class="form-control" v-model="form.prod.buyin" :class="{ 'is-invalid': form.errors.has('prod.buyin') }"/>
                    <has-error :form="form" field="prod.buyin"></has-error>
                </div>
            </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </form>
      
    </div>
  </div>
</div>

    <!-- Modal -->
    </div>



</template>

<script>
    export default {
        data() {
            return {
                values: {},
                loading: true,
                form: new Form({
                    prod: {
                        name: '',
                        active: '',
                    },
                }),
                catagories: {},
                brands: {},
                inter: undefined,
            }
        },
        methods: {
            loadProducts(progress = false){
                if(progress == true) this.$Progress.start();
                axios.get("/api/admin/products").then( response => {
                    this.loading = false;
                    this.values = response.data;
                    if(progress == true) this.$Progress.finish();
                });

            },
            getResults(page = 1) {
                this.$Progress.start();
                this.loading = true;
                axios.get('/api/admin/products?page=' + page).then(response => {
                    this.loading = false;
                    this.values = response.data;
                    if(page != 1)  clearInterval(this.inter);
                    else{
                        clearInterval(this.inter);
                        this.inter = setInterval(()=> this.loadProducts(), 3000);
                    }
                    this.$Progress.finish();
                });
            },
            edit(id){
                this.$Progress.start();
                axios.get('/api/admin/products/' + id).then(response => { this.form.prod = response.data});
                axios.get('/api/admin/zy/catagories').then(response => { this.catagories = response});
                axios.get('/api/admin/zy/brands').then(response => { this.brands = response});
                this.$Progress.finish();
                $('#edit').modal('show');
                
            },
            saveEdit(){
                this.$Progress.start();
                this.form.prod.sw = 0;
                this.form.put('/api/admin/products/' + this.form.prod.id).then(response => {
                $('#edit').modal('hide');
                swal({
                        title: 'Success!',
                        text: 'Item save!',
                        type: 'success',
                        timer: '1500'
                    }); 
                    
                });
                this.$Progress.finish();
            },
            activate(id, active){
                this.form.prod.active = active;
                this.form.prod.sw = 1;
                this.form.put('/api/admin/products/' + id).then(response => {  $('#edit').modal('hide') });
            }
        },
        mounted() {
            this.inter = setInterval(()=> this.loadProducts(), 3000);
            Fire.$on('searching',() => {
                let query = this.$parent.$parent.search;
                axios.get('/api/admin/product/search/?q=' + query) 
                .then((data) => {
                    this.values = data.data;
                    if(query.length != '') clearInterval(this.inter);
                    else {
                        clearInterval(this.inter);
                        this.inter = setInterval(()=> this.loadProducts(), 3000);
                    }
                })
                .catch(() => {
                })
            });
        },
        beforeDestroy() {
            clearInterval(this.inter);
            Fire.$off ('searching');
        },
        created() {
            this.loadProducts(true);
        }
    }
</script>
